.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blinking {
  color: green; /* Set text color to green */
  animation: blink 2s infinite; /* Blinking animation */
}

@keyframes blink {
  0% {
    opacity: 1; /* Fully visible for the first second */
  }
  50% {
    opacity: 1; /* Fully visible for the second half of the cycle */
  }
  100% {
    opacity: 0; /* Invisible for the second second */
  }
}